@font-face {
    font-family: Evolve;
    src: url("https://raw.githubusercontent.com/zadamantiy/Gratz-Labs/master/Block-01/Evolve_Sans_Light.otf?token=AgBxGRierdIx9mSuCRr14f3MxUEwryeHks5cd9r3wA%3D%3D") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("https://raw.githubusercontent.com/zadamantiy/Gratz-Labs/master/Block-01/Roboto-Light.ttf?token=AgBxGRB_H4V-EZqiLbCQpSOd573d1TOKks5cd9t0wA%3D%3D") format("truetype");
}

body {
	background-color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
}

h1 {
	font-family: Evolve;
	font-size: 48px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 0px;
}

img {
	margin: 10px;
}

.img_left {
	float: left;
}

p {
	font-size: 16px;
	font-family: Roboto;
	color: #FFFFFF;
}

a {
  color: #3D72A4;
}

a:visited{
  color: gray;
}